{% extends 'base.html' %}


{% block content %}
    <h1>CART</h1>
     {% if cart %}
        <table id="cartTable" class="table table-bordered table-striped">
          <tr>
          <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Product Price</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
         
          {% for obj in cart.all %}
          <tr id="cart-{{obj.products.id}}">
              <td><a href=""><img src="{{obj.products.image.url}}" heght="100" width="100"></a></td>
              <td class="cartName cartData" name="name"> {{obj.products.title}}</td>
              <td class="cartQuantity cartData" name="address">{{obj.quantity}}</td>
              <td class="cartPrice cartData" name="age">{{obj.products.price}}</td>
              <td class="cartTotal cartData" name="age">{{obj.total}}</td>
              <td class="text-right"><button class="btn btn-sm btn-danger" onClick="deleteCart({{obj.products.id}})"><i class="fa fa-trash-alt"></i> </button> </td>
              </tr>
          {% endfor %}
        </table>
         
    <form  action='{% url 'checkout' %}' class="form-inline" id="placeorder">
           <button class="btn-round btn-success form-control ml-auto" type="submit">Checkout</button>
    </form>
        {% else %}
            <h1></h1>
          {% endif %}
  
{% endblock %}
{% block javascript %}

<script>
function deleteCart(id) {

  bootbox.confirm({
    message: "Remove Product?",
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-success'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        if(result){
          $.ajax({
           url: '{% url "cartDelete" %}',
           data: {
               'id': id,
           },
           dataType: 'json',
            success: function (data) {

               if (data.deleted) {
                 $("#cartTable #cart-" + id).remove();
                 var cartcount= $(".cart-count") //cart-count is span field in base.html
                 cartcount.text(data.cartCount) //cartCount is jsonResponse in views

               }

               if (data.cartCount==0){
                 var table= $("#cartTable")
                 table.css("display", "none")
                 var placeorder = $("#placeorder")
                 placeorder.css("display", "none")
               }
           }

          }); //ajax end
     


        }
        
    }
  });
       
}
</script>
{% endblock javascript %}