{% extends 'test.html' %}

{% block content %}

<!-- Cart -->

	 <div class="cart_section">
		<div class="">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">Shopping Cart</div>
						<div class="cart_items">


<table id="cartTable" class="table  table-striped">
         						 <tr class="table table-bordered table-striped" style="color:#0e8ce4 ;text-align:center ; font-size:large;">
         						 <th  scope="col">Image</th>
         						   <th scope="col" >Name</th>
         						   <th scope="col" >Quantity</th>

         						   <th scope="col" >Product Price</th>
         						   <th scope="col" >Total</th>
         						   {% comment %} <th scope="col"></th> {% endcomment %}
         						 </tr>
								{% for obj in cart.all %}
         						 <tr style="font-size: 15px; font-weight: 500;" id="cart-{{obj.products.id}}"  >
         						     <td class="cartImage cartData" name="image" style="text-align:center ;"><a href="{% url 'productDetails' obj.products.id %}"><img src="{{obj.products.image.url}}" heght="100" width="100"></a></td>
         						     <td class="cartName cartData" name="name" style="text-align:center" id="product-title" value="{{obj.products.title}}"><a href="{% url 'productDetails' obj.products.id %}"> {{obj.products.title}}</a></td>
         						     {% comment %} <td style="text-align:center" name="address">{{obj.quantity}}</td> {% endcomment %}
									 
									  <td class="cartQuantity cartData" name="quantity" >
									  
									
									  <input type="number" id="{{obj.products.id}}" class="quantity form-control text-center col-md-6 col-12 text-danger" name="cart-quantity" min="1" value="{{obj.quantity}}">
									  
									  </td>
									
									 <td class="cartPrice cartData" style="text-align:center" id="price" name="price">Rs {{obj.products.price|floatformat:"0" }}</td>
         						     <td class="cartTotal cartData" style="text-align:right" class="align-items-center" id="product-total" name="total"><span> {{obj.total|floatformat:"0" }} </span> <button class="btn btn-sm btn-info ml-1 btn-danger" onClick="deleteCart({{obj.products.id}})"><i class="fa fa-trash-alt"></i> </button> </td>
         					      {% comment %} <td><button class="btn btn-sm btn-info" style="background:#0e8ce4" onClick="deleteCart({{obj.products.id}})"><i class="fa fa-trash-alt"></i> </button> </td> {% endcomment %}
         						     </tr>
         						 {% endfor %}
        					</table>
							
						</div>

						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title" style="color:#0e8ce4">Order Total:</div>
								<div class="order_total_amount" id="gtotal">Rs {{Gtotal|floatformat:"0" }}</div>
							</div>
						</div>

						<div class="cart_buttons">
							
							<form action='{% url 'checkout' %}'>	
							<button type="submit" class="btn btn-lg btn-success ml-5 py-2 px-4">Checkout</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="overlay">
	<div class="cv-spinner">
		<span class="spinner "></span>
	</div>
</div>
{% endblock content %}

{% block javascript %}

<script>
function deleteCart(id) {
	debugger;
	var test= id
	var sum = 0;

	 var total = document.getElementById('price').innerText;
	$('.price').each(function() {
        sum += total;
    });

  bootbox.confirm({
    message: "Remove Product?",
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-info'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        if(result){
          $.ajax({
           url: '{% url "cartDelete" %}',
           data: {
               'id': id,
           },
           dataType: 'json',
            success: function (data) {

               if (data.deleted) {
                 $("#cartTable #cart-" + id).remove();
                 var cartcount= $(".cart-count") //cart-count is span field in base.html
                 cartcount.text(data.cartCount) //cartCount is jsonResponse in views
				document.getElementById("gtotal").innerHTML = data.Gtotal;

               }

               if (data.cartCount==0){
                 var table= $("#cartTable")
                 table.css("display", "none")
                 var placeorder = $("#placeorder")
                 placeorder.css("display", "none")
               }
           }

          }); //ajax end



        }

    }
  });

}


var quantityCart = function(){
	$( "input[type='number']" ).change(function(e) {
		 $("#overlay").fadeIn(1600);


 							setTimeout(function(){
				           $("#overlay").fadeOut(1600);},500);
					
		var quantity =parseInt(e.target.value); //find input quantity field
		var id = $(this).attr("id");  //find id of product
		var total = parseInt(($(this).parent().next().text().split(' ')[1]).split(',').join('')) * quantity; //find parent of input which is td and find total field using next and multiply with qnty
		var comma =total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); //add thousand commas in total
		$(this).parent().next().next().find('span').text(comma) //set new total value in total span field

		//	var title= document.getElementById ( "product-title" ).innerText;
		var spans = $.find('tr>td>span')  //find span field of total 

		var i;
		var sum=0;
		for (i = 0; i < spans.length; i++) {
		x= parseInt(spans[i].textContent.split(',').join(''))  //add all products total for grand total
		  sum += x ;
		}
		
		var gtotal= sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); //add thousand comma

		var final= "Rs " + gtotal //concate with Rs

		document.getElementById("gtotal").innerHTML=final //setting grand total
		
		
		$.ajax({
            url: '{% url 'cartUpdate' %}',
            data: {
                'quantity': quantity,
                'id': id,
            },
            dataType: 'json',
            success: function (data) {

              if (data.cart) {
			
				{% comment %} updateToCartTable(data.cart); {% endcomment %}

				

              }

              else{

                 

              }
              }


        });



	});
	}

	quantityCart();
 



{% comment %} function updateToCartTable(cart){
    $("#cartTable #cart-" + cart.id).children(".cartData").each(function() {
		
        var attr = $(this).attr("name");
        if (attr == "total") {
          $(this).text(cart.total);
        } 
      });
} {% endcomment %}

</script>
{% endblock javascript %}