{% extends 'test.html' %}

{% block content %}
<div class="py-5 text-center container">
        <h2>Checkout</h2>
      </div>
<div class="container">
  <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="" style="color:#0e8ce4; font-weight: 500;">Shipping and Billing</span>
            {% comment %} <span class="badge badge-secondary badge-pill">3</span> {% endcomment %}
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0" id="model-name">{{request.user.first_name}} {{request.user.last_name}}</h6>
                <p class="text mt-3" id="model-address">{{user.address}}</p>
              </div>
              <button class="btn btn-link" type="submit" onClick="editUser()" data-toggle="modal" data-target="#addressModal"><i class="fas fa-edit"></i></button>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0" id="model-phone">{{user.phone}}</h6>
                <small class="text-muted"></small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0" id="model-email">{{user.email}}</h6>
              </div>
            </li>
            
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="" style="color:#0e8ce4">
                <h6 class="my-0 ">Order Summary</h6>
                {% comment %} <small>EXAMPLECODE</small> {% endcomment %}
              </div>
              {% comment %} <span class="text-success text-dark">Rs {{total}}</span> {% endcomment %}
            </li>

            
            <li class="list-group-item d-flex justify-content-between">
              <span>Subtotal</span>
              <strong>Rs {{total}}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Shipping Fee</span>
              <strong>Rs {{shipping}}</strong>
            </li>

            
            <li class="list-group-item d-flex justify-content-between">
              <span>Total</span>
              <strong>Rs {{Gtotal}}</strong>
            </li>

            <li class="list-group-item d-flex justify-content-between">
             <span>Payment Options</span>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked>
                <label style="margin-left:-2px;" class="form-check-label" for="materialChecked"><strong> Cash on Delivery</strong></label>
              </div>
            </li>
          </ul>

            <form method="post" id="placeOrder">{% csrf_token %}
            {% if cart %}
            <div class="input-group-btn">
            <button class="btn-round btn-info ml-auto button cart_button_checkout mt-4 " style="background:#0e8ce4 ; width: 100%;" type="submit">Place Order</button>
            </div>
            {% endif %}
            </form>
        </div>

            
<div class="col-md-8 order-md-1">
          
   {% if cart %}
        <div class="">

					<table id="cartTable" class="table  table-striped">
         						 <tr class="table table-bordered table-striped" style="color:#0e8ce4 ;text-align:center ; font-weight:500;">
         						 <th  scope="col">Image</th>
         						   <th scope="col" >Name</th>
         						   <th scope="col" >Quantity</th>
         						   <th scope="col" >Product Price</th>
         						   <th scope="col" >Total</th>
         						   {% comment %} <th scope="col"></th> {% endcomment %}
         						 </tr>
                    	{% for obj in cart.all %}

         						 <tr style="font-size: 15px; font-weight: 500;" id="cart-{{obj.products.id}}"  >
         						     <td style="text-align:center"><a href=""><img src="{{obj.products.image.url}}" heght="100" width="100"></a></td>
         						     <td style="text-align:center" name="name"> {{obj.products.title}}</td>
         						     <td style="text-align:center" name="address">{{obj.quantity}}</td>
									       <td style="text-align:center" id="price" name="age">Rs {{obj.products.price|floatformat:"0" }}</td>
         						     <td style="text-align:right" class="align-items-center" name="total">{{obj.total|floatformat:"0" }}</td>
         						 </tr>
         						 {% endfor %}
        					</table>
							

						</div>

        {% else %}
            <h1></h1>
          {% endif %}
    </div>     <!--col -->   

</div> <!--row -->

</div> <!--container -->

<div id="overlay">
	<div class="cv-spinner">
		<span class="spinner "></span>
	</div>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Billing Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="col-md-12">
          {% comment %} <h4 class="mb-3">Billing address</h4> {% endcomment %}
          <form method="POST" id="updateUser">{% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3 form-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstname" name="model-firstName" placeholder=""  required>
              </div>
              <div class="col-md-6 mb-3 form-group">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastname" name="model-lastName"  placeholder=""  required>
                
              </div>
            </div>

            <div class="mb-3 form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" name="model-phone" placeholder="03401234567" required>
              
            </div>

            <div class="mb-3 form-group">
              <label for="email">Email </label>
              <input type="email" class="form-control" id="email" name="model-email" placeholder="you@example.com">
              
            </div>

            <div class="mb-3 form-group">
              <label for="address">Address</label>
              <textarea rows="5" class="form-control" id="address" name="model-address" placeholder="1234 Main St" required></textarea>
              
            </div>

            
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary">Save changes</button>
            

          </form>
          
	    </div>
        
       </div>   {% comment %}modal body div ending {% endcomment %}
      
    </div>
  </div>
</div>


{% endblock content %}

{% block javascript %}
<script>
function editUser() {

  let firstname= document.getElementById("model-name").innerText.split(' ')[0];
  let lastname = document.getElementById("model-name").innerText.split(' ')[1];
  let phone= document.getElementById("model-phone").innerText;
  let email= document.getElementById("model-email").innerText;
  let address= document.getElementById("model-address").innerText;
  

    $('#firstname').val(firstname);
    $('#lastname').val(lastname);
    $('#phone').val(phone);
    $('#email').val(email);
    $('#address').val(address);
  }



$("form#updateUser").submit(function(event) {
  
    event.preventDefault();
     $("#overlay").fadeIn(1600);　
 
    var fname = $('input[name="model-firstName"]').val();
    var lname = $('input[name="model-lastName"]').val();
    var phone = $('input[name="model-phone"]').val();
    var email = $('input[name="model-email"]').val();
    var address = $('textarea[name="model-address"]').val();

     if (fname && lname && phone && email && address) {
        $.ajax({
            url: '{% url 'updateUser' %}',
            data: {
                'fname': fname,
                'lname': lname,
                'phone': phone,
                'email': email,
                'address': address,
            },
            dataType: 'json',

            success: function (data) {
           setTimeout(function(){
				           $("#overlay").fadeOut(1600);},500);
      
              if (data.status=='updated') {
                $('form#updateUser').trigger("reset");
                $('#addressModal').modal('hide');

                setTimeout(function(){
                $('#model-address').text(address);
                $('#model-phone').text(phone);
                $('#model-email').text(email);
                var fullname = fname.concat(" ", lname);
                $('#model-name').text(fullname);
                    },2000);

              }

              else{
     
                   }  

              }
            
             
        });

    }
     else {
       
    }

   
});





$("form#placeOrder").submit(function(event) {
  
    event.preventDefault();
    
        $.ajax({
            url: '{% url 'ajaxOrder' %}',
            data: {
            
            },
            dataType: 'json',

            success: function (data) {
              if (data.status=='ok') {
                

                window.location.href='checkout/success'

              }

              else{
     
                   }  

              }
            
             
        });
   
});


</script>
{% endblock javascript %}

