{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="alert alert-success" id="success-alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> Product have added to your cart.
</div>

<div class="row">

<div class="col-12 col-md-6">

<div class="card" style="width: 18rem;">
  <div class="card-body">
   <img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap" width=""auto" height="250px">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
</div>
</div><!--col end-->

{% if request.user.is_authenticated %}
  <div class="col-12 col-md-6">
    <form method="POST" action='{% url 'cart' %}' class="form form-product-ajax"> {% csrf_token %}
      <input type="hidden"  name="product_id" value="{{product.id}}" >
     <button class="btn btn-success" name="submit" type="submit" value="submit">Add to cart</button>
         <div class="mt-5 col-6 mr-auto">
           <input type="number" value="1" min="1" max="100" step="1" name="quantity"/>
          </div>

    </div>
    </form>

  </div>
   {% else %}

    <div class="col-12 col-md-6">

     <button class="btn btn-success " data-toggle="modal" data-target="#loginModal">Add to cart</button>
    </div>

  </div>
{% endif %}


</div><!--row end-->


<div class="row justify-content-between">
<div class="col-md-4 ml-auto mt-4">


<div class="container">
  <form method="POST" id="ReviewForm" >{% csrf_token %}
    <div class="form-group">
    <span class="error text-danger" id="reviewerror"></span>
      <label for="inputName" class="col-sm-12 col-form-label">Subject</label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" id="inputSubject" name="inputSubject"  placeholder="">

      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control col-12" rows="6"  id="inputComment"  name="inputComment"></textarea>
      </div>

      <label for="inputName" class="col-sm-12 col-form-label">Review</label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" name="inputRating" id="inputRating" placeholder="">
      </div>
    </div>
    
    <div class="form-group">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" name="product_id" value="{{product.id}}">Post</button>
      </div>
    </div>
  </form>
</div>



</div>
</div>


<div id="overlay">
	<div class="cv-spinner">
		<span class="spinner "></span>
	</div>
</div>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Login</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form method="POST" id="loginUser" >{% csrf_token %}
            <div class="form-group">
              <span class="error text-danger" id="formerror"></span>
              <input type="text" class="form-control"  placeholder="Your username..." name="modal-user" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  placeholder="Your password..." name="modal-password" required>
            </div>
            <button type="submit" class="btn btn-info btn-block btn-round">Login</button>
          </form>
        </di>
      </div>
    </div>

      <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
      </div>
  </div>
</div>




{% endblock content %}

{% block javascript %}

<script>


    $(document).ready(function(){
        var productForm = $(".form-product-ajax") //add to cart
        productForm.submit(function(event){　
        event.preventDefault();
        var thisForm = $(this)
        var action= thisForm.attr("action");
        var method = thisForm.attr("method");
        var formData = thisForm.serialize();


      $.ajax({
        url: action,
        method: method,
        data: formData,
        success: function(data){


        setTimeout(function(){
				$("#overlay").fadeOut(1200);},500);

        var cartcount= $(".cart-count") //cart-count is span field in base.html
        cartcount.text(data.cartCount) //cartCount is jsonResponse in views

        {% comment %} setTimeout(function(){
        bootbox.alert({
        message: "Product added to Cart",
        callback: function() {
        }
                      })        },1500); {% endcomment %}
    setTimeout(function(){
         $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
      $("#success-alert").slideUp(100);
    }); },2000);




        },

      error: function(errorData){
        console.log("error")
        console.log(errorData)
      }
      })

        })

       {% comment %} add to cart ending {% endcomment %}

$("form#loginUser").submit(function(event) {

    $("#overlay").fadeIn(1600);
    event.preventDefault();
    console.log("in modal form")
    var modeluser = $('input[name="modal-user"]').val().trim();
    var modelpassword = $('input[name="modal-password"]').val().trim();

     if (modeluser && modelpassword) {
        $.ajax({
            url: '{% url 'cartLogin' %}',
            data: {
                'username': modeluser,
                'password': modelpassword,
            },
            dataType: 'json',
            success: function (data) {
              auth= true;
              if (data.status=='ok') {
                setTimeout(function(){
				        $("#overlay").fadeOut(1600);
                $('form#loginUser').trigger("reset");
                $('#loginModal').modal('hide');
                  },500);

                window.location.href=window.location.href
              }

              else{

                 $('#formerror').text("username or password incorrect");
                 return false;

              }
              }


        });

    }
     else {
       $('#formerror').text("username or password incorrect");
        return false;
    }


});



$("form#ReviewForm").submit(function(event) {
  
    event.preventDefault();
    
    var subject = $('input[name="inputSubject"]').val();
    var comment = $('textarea[name="inputComment"]').val();
    var rating = $('input[name="inputRating"]').val();
    var id =    $('input[name="product_id"]').val();
    console.log(subject)
    
    

     if (subject && comment && rating) {
        $.ajax({
            url: '{% url 'ajaxReview'  %}',
            data: {
                'subject': subject,
                'comment': comment,
                'rating': rating,
                'id': id,
            },
            dataType: 'json',

            success: function (data) {
           
      
              if (data.status=='ok') {
                $('form#ReviewForm').trigger("reset");
               
              }

              else{
     
                   }  

              }
            
             
        });

    }
     else {
        $('#reviewerror').text("Please fill all fields");
        return false;

     
    }

   
});


}) 

</script>


{% endblock javascript %}	