{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="col-12 col-md-6">

<div class="card" style="width: 18rem;">
  <div class="card-body">
   <img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap" width=""auto" height="250px">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.description}}</p>
  </div>
</div>
</div><!--col end-->


  <div class="col-12 col-md-6">
    <form method="POST" action='{% url 'cart' %}' class="form">{% csrf_token %}
      <input type="hidden"  name="product_id" value="{{product.id}}" >
     <button class="btn btn-success" name="submit" type="submit" value="submit">Add to cart</button>
         <div class="mt-5 col-6 mr-auto">
           <input type="number" value="1" min="1" max="100" step="1" name="quantity"/>
          </div>

    </div>
    </form>

  </div>

</div><!--row end-->

{% endblock content %}
