{% extends 'base.html' %}

{% block content %}

<form method='GET' action='{% url 'search' %}' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value={{request.GET.q}} >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


{% if request.GET.q %}
<div class="row">
<div class="col-12">
    <h2>Results for {{ request.GET.q }}</h2>
</div>
</div>
{% endif %}

<div class="row">

{% for product in object_list  %}
<div class="col">

<div class="card" style="width: 18rem;">
{% if product.image %}
  <img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap" width=""auto" height="250px">
{% endif %}
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.description}}</p>
    <a href="{% url 'productDetails' product.id %}" class="btn btn-primary">View</a>
  </div>
</div>
</div><!--col end-->
{%endfor%}

</div><!--row end-->
{% endblock content %}