{% extends 'base.html' %}

{% block content %}

{% if submit == 'submit' and request.GET.q != '' %}
{% if products %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>
<div class="row">
{% for product in products  %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            {% if product.image %}
              <img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap" width=""auto" height="250px">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="{% url 'productDetails' product.id %}" class="btn btn-primary">View</a>
            </div>    
        </div>
    </div><!--col end-->
{%endfor%}
</div><!--row end-->
{% else %}
<h1>No search results for this query</h1>
{% endif %}
{% endif %}
{% endblock content %}
