{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
<title>Ecommerce Home</title>
{% endblock title %}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'one/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'one/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'one/styles/cart_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'one/styles/cart_responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}?{% now "U" %}">
{% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">


{% block stylesheet %}
{% endblock %}
</head>

<body>

<div class="super_container">
	
	<!-- Header -->
	
	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fas fa-phone    "></i></div>+92 345 123 4567</div>
						<div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-envelope" aria-hidden="true"></i></div><a href="mailto:support@asaanshopping.com">support@asaanshopping.com</a></div>
						<div class="top_bar_content ml-auto">
							<div class="top_bar_user">
								<div class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
								
								{% if request.user.is_authenticated %}
								<div><a href="{% url 'logout' %}">Sign Out</a></div>
								<div><a href="{% url 'user-profile' %}">{{request.user.get_full_name}}'s Account</a></div>
								{% else %}
								<div><a href="{% url 'signup' %}">Register</a></div>
								<div class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
								<div><a href="{% url 'login' %}"  >Sign in</a></div>
								{% endif %}
								
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search" style="margin-left:40px;">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form method="GET" value="{{request.GET.q}}" action='{% url 'search' %}' class="header_search_form clearfix" class="header_search_form clearfix">
										<input type="search" required="required" class="header_search_input" placeholder="Search for products..." name="q" aria-label="Search"  value="{{request.GET.q}}">
										<div class="custom_dropdown">
											<div class="custom_dropdown_list">
												<span class="custom_dropdown_placeholder clc">All Categories</span>
												{% comment %} <i class="fas fa-chevron-down"></i> {% endcomment %}
												<ul class="custom_list clc">
													{% comment %} <li><a class="clc" href="#">All Categories</a></li>
													<li><a class="clc" href="#">Computers</a></li>
													<li><a class="clc" href="#">Laptops</a></li>
													<li><a class="clc" href="#">Cameras</a></li>
													<li><a class="clc" href="#">Hardware</a></li>
													<li><a class="clc" href="#">Smartphones</a></li> {% endcomment %}
												</ul>
											</div>
										</div>
										<button class="header_search_button trans_300" name="submit" type="submit" value="submit"><img src="{% static 'one/images/search.png' %}" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							<div class="wishlist d-flex flex-row align-items-center justify-content-end">
								<div class="wishlist_icon"><a href="{% url 'wishlist' %}"><img src="{% static 'one/images/heart.png' %}" alt=""></a></div>
								<div class="wishlist_content">
									<div class="wishlist_text"><a href="{% url 'wishlist' %}">Wishlist</a></div>
									<div class="wishlist_count"><span class="wish-count">{{request.user.wishlists.all.count}}</span></div>
								</div>
							</div>

							<!-- Cart -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<a href="{% url 'cart' %}"><img src="{% static 'one/images/cart.png' %}" alt=""></a>
										<div class="cart_count"><span class="cart-count">{{request.user.carts.all.count}}</span></div>
									</div>
									<div class="cart_content">
										<div class="cart_text"><a href="{% url 'cart' %}">Cart</a></div>
										{% comment %} <div class="cart_price">$85</div> {% endcomment %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">
						
						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">categories</div>
								</div>

								<ul class="cat_menu">
									<li class="hassubs">
										<a>Electronic Devices<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li class="hassubs">
												<a>Smartphones<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Realme' %}">Realme<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Samsung' %}">Samsung<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'huawei' %}">huawei<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Apple-iphones' %}">Apple iphones<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

											<li class="hassubs">
												<a>Laptops<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Macbooks' %}">Macbooks<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Gaming-Laptops' %}">Gaming Laptops<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Refurbished-Laptops' %}">Refurbished Laptops<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>
											
											<li class="hassubs">
												<a>Security Cameras<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'IP-Security-Cameras' %}">IP Security Cameras<i class="fas fa-chevron-right"></i></a></li>
													
												</ul>
											</li>
											
										</ul>
									</li>
									
									<li class="hassubs">
										<a>Electronic Accessories<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li class="hassubs">
												<a>Mobile Accessories<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Phone-Cases' %}">Phone Cases<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Phone-Protectors' %}">Phone Protectors<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Phone-Pouch' %}">Phone Pouch<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Handfrees' %}">Handfrees<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

											<li class="hassubs">
												<a>Storage<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'External-Hard-Drives' %}">External Hard Drives<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Flash-Drives' %}">Flash Drives<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'OTG-Drives' %}">OTG Drives<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

											<li class="hassubs">
												<a>Network Components<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Access-Points' %}">Access Points<i class="fas fa-chevron-right"></i></a></li>
													
												</ul>
											</li>
											
										</ul>
									</li>

									<li class="hassubs">
										<a>TV & Home Appliances<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li class="hassubs">
												<a>TV and Video Devices<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Sony-LED-Televisions' %}">Sony LED Televisions<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Samsung-LED-Televisions' %}">Samsung LED Televisions<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Changhong-Ruba-Televisions' %}">Changhong Ruba Televisions<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Projectors' %}">Projectors<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

											<li class="hassubs">
												<a>Large Appliances<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Washing-Machines' %}">Washing Machines<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Refrigerators' %}">Refrigerators<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>
											
										</ul>
									</li>

								
									<li class="hassubs">
										<a>Health & Beauty<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li class="hassubs">
												<a>Fragrances<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Women-Fragrances' %}">Women Fragrances<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Men-Fragrances' %}">Men Fragrances<i class="fas fa-chevron-right"></i></a></li>
												
												</ul>
											</li>
											
										</ul>
									</li>
									
									<li class="hassubs">
										<a>Home & Lifestyle<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li class="hassubs">
												<a>Bedding<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Bed-sheets' %}">Bed sheets<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Curtains' %}">Curtains<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

											<li class="hassubs">
												<a>Furniture<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Bed-set' %}">Bed set<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Kitchen-and-Dining' %}">Kitchen and Dining<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Home-office-Furniture' %}">Home office Furniture<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>
											
											
											<li class="hassubs">
												<a>Stationery and crafts<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'school-uniforms' %}">school uniforms<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

											
											<li class="hassubs">
												<a>Tools, DIY and outdoors<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Electrical' %}">Electrical<i class="fas fa-chevron-right"></i></a></li>
													
												</ul>
											</li>
											
											<li class="hassubs">
												<a>Music and books<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Musical-Instruments' %}">Musical Instruments<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'Magazines' %}">Magazines<i class="fas fa-chevron-right"></i></a></li>
												</ul>
											</li>

										</ul>
									</li>


									<li class="hassubs">
										<a>Women's Fashion<i class="fas fa-chevron-right"></i></a>
										<ul>
											
											<li><a href="{% url 'shop' 'Women-shoes' %}">Women shoes<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Tops' %}">Tops<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Kurtis' %}">Kurtis<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Women-Shalwar-Kameez' %}">Women Shalwar Kameez<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Women-Jeans' %}">Women Jeans<i class="fas fa-chevron-right"></i></a></li>
												
											
										</ul>
									</li>

									<li class="hassubs">
										<a>Men's Fashion<i class="fas fa-chevron-right"></i></a>
										<ul>
											
											<li><a href="{% url 'shop' 'Shirts' %}">Shirts<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Men-shoes' %}">Men shoes<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Men-jeans' %}">Men jeans<i class="fas fa-chevron-right"></i></a></li>
											{% comment %} <li><a href="{% url 'shop' 'Men-Shalwar-Kameez' %}">Men Shalwar Kameez<i class="fas fa-chevron-right"></i></a></li> {% endcomment %}
												
											
										</ul>
									</li>
									
									<li class="hassubs">
										<a>Cameras<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li class="hassubs">
												<a>DSLR<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'DSLR-Canon' %}">DSLR Canon<i class="fas fa-chevron-right"></i></a></li>
													<li><a href="{% url 'shop' 'DSLR-Nikon' %}">DSLR Nikon<i class="fas fa-chevron-right"></i></a></li>
												
												</ul>
											</li>

											<li class="hassubs">
												<a>Audio/Video Cameras<i class="fas fa-chevron-right"></i></a>
												<ul>
													<li><a href="{% url 'shop' 'Video-Cameras' %}">Video Cameras<i class="fas fa-chevron-right"></i></a></li>
												
												</ul>
											</li>
											
										</ul>
									</li>

									<li class="hassubs">
										<a>Video Games & Consoles<i class="fas fa-chevron-right"></i></a>
										<ul>
											<li><a href="{% url 'shop' 'PlayStation-consoles' %}">PlayStation consoles<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'PlayStation-Games' %}">PlayStation Games<i class="fas fa-chevron-right"></i></a></li>
											<li><a href="{% url 'shop' 'Xbox-Games' %}">Xbox Games<i class="fas fa-chevron-right"></i></a></li>
											
										</ul>
									</li>

								</ul>
							</div>

							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li ><a  href="index.html">Home<i class="fas fa-chevron-down"></i></a></li>
									<li class="hassubs">
										<a href="#">Super Deals<i class="fas fa-chevron-down"></i></a>
										<ul>
											<li>
												<a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</li>
									<li class="hassubs">
										<a  href="#">Featured Brands<i class="fas fa-chevron-down"></i></a>
										<ul>
											<li>
												<a href="#">Menu Item<i class="fas fa-chevron-down"></i></a>
												<ul>
													<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
													<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
												</ul>
											</li>
											<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</li>
									<li class="hassubs">
										<a href="#">Pages<i class="fas fa-chevron-down"></i></a>
										<ul>
											<li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="blog_single.html">Blog Post<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="regular.html">Regular Post<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
									<li><a  href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>
		
		<!-- Menu -->

		<div class="page_menu">
			<div class="container">
				<div class="row">
					<div class="col">
						
						<div class="page_menu_content">
							
							<div class="page_menu_search">
								<form action="#">
									<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
								</form>
							</div>
							<ul class="page_menu_nav">
								<li class="page_menu_item has-children">
									<a href="#">Language<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Currency<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item">
									<a href="index.html">Home<i class="fa fa-angle-down"></i></a>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
										<li class="page_menu_item has-children">
											<a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
								<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
							</ul>
							
							<div class="menu_contact">
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570</div>
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>

	
{% block content %}
{% endblock %}


	<!-- Newsletter -->


	<div class="newsletter ">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container"> 
							<div class="newsletter_icon"><img src="{% static 'one/images/send.png' %}" alt=""></div>
							<div class="newsletter_title">Sign up for Newsletter</div>
							<div class="newsletter_text"><p>...and receive %20 coupon for first shopping.</p></div>
						</div>
						<div class="newsletter_content clearfix">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required" placeholder="Enter your email address">
								<button class="newsletter_button">Subscribe</button>
							</form>
							<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">ABOUT US</h5>
						<p class="mb-4" style="text-align: justify;">Asaan Shopping is a well known Ecommerce website. We provide authentic prdoucts at reasonable prices at your door step.
						 Asaan Shopping aims at customers to provide best products and deals. Asaan Shopping listens to Customer queries and Customer feedback is of high value for us. Visit us to get best deals.</p>
						
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Contact Info</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fas fa-map-marker"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p>Street No 2 Building No 45 Plaza ABC Lahore</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="far fa-envelope"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Have any Questions?</h6>
										<p><a href="#">Support@asaanshopping.com</a></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row mt-2">
									<div class="col-1"><i class="fas fa-phone-volume"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Contact Number:</h6>
										<p>+92 345 1234567</p>
									</div>
								</div>
							</li>
						</ul>
					</div>


					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">FRESH TWEETS</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fab fa-twitter"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">@userthemesrel </a> HTML Version Out Now</p>
										<label>10 Mins Ago</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fab fa-twitter"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">@userthemesrel </a> HTML Version Out Now</p>
										<label>10 Mins Ago</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fab fa-twitter"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">@userthemesrel </a> HTML Version Out Now</p>
										<label>10 Mins Ago</label>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">LATEST UPDATES</h5>
						<ul class="recent-post">
							<li>
								<label class="mr-3">28 <br><span>APR</span></label>
								<span>Rendomised words which dont look eveable.</span>
							</li>
							<li>
								<label class="mr-3">29 <br><span>APR</span></label>
								<span>Rendomised words which dont look eveable.</span>
							</li>
							<li>
								<label class="mr-3">30 <br><span>APR</span></label>
								<span>Rendomised words which dont look eveable.</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>
						<div class="input-group">
						  	<input type="text" class="form-control" placeholder="Your Email Address">
						  	<span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
						</div>
						<ul class="social-pet mt-4">
							<li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Copyright -->
		<div class="copyright1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2020 Asaan Shopping. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</div>

  
<!--Footer Ending-->



<script src="{% static 'one/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'one/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'one/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'one/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'one/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'one/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'one/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'one/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'one/plugins/easing/easing.js' %}"></script>
<script src="{% static 'one/js/cart_custom.js' %}"></script>
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script src="{% static 'one/plugins/slick-1.8.0/slick.js' %}"></script>
{% comment %} <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script> {% endcomment %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

{% block javascript %}
{% endblock javascript%}
</body>

</html>